<div class="form-group m-b-xxs">
  <div class="col-md-3 control-label">
    <label for="name">Name/Address</label>
  </div>
  <div class="col-md-9" style='margin-bottom:25px;'>
    <div class="input-group">
      <input id="house_name" type="text"
             value="<%= @house.name if @house %>"
             name="house[name]"
             class="form-control"
             <%= 'readonly' if @show %>  />
    </div>
  </div>
</div>

