<!-- app/views/houses/new.html.erb -->
<% content_for :head do %>
  <title>Homie | Create House</title>
<% end %>
<div class="text-center m-b-lg ">
  <img src="/assets/homie_logo_rect.png" height=110 alt="">
</div>
<div class="middle-box text-center animated fadeInDown ">
  <div class="row">
    <div class="col-md-5">
      <h3>Create a House</h3>
      <p>Create a new house to start keeping track of expenses.</p>
      <%= form_for :house, url: '/houses',  html: { class: "m-t", "data-parsley-validate" => '' } do |f| %>
      <div class="form-group">
        <%= f.text_field :name, {class: "form-control", placeholder: "Name/Address", :required => ''} %>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
      <% end %>
    </div>
    <div class="col-md-2" style="padding-left:0; padding-right:0;height:180px;">
      <div id="left" style="height:100%;width:50%;float:left;"></div>
      <div id="right" style="height:100%;margin-left:50%;border-left:solid 1px grey;"></div>
    </div>
    <div class="col-md-5">
      <h3>Join a House</h3>
      <p>Join a house with an invite code to see what it's all about.</p>
      <%= form_tag join_house_path, :id => "join_house_form", class: "m-t" do %>
      <div class="form-group">
        <input class="form-control" placeholder="Invite Code" required="required" type="text" name="house[invite_code]" id="house_invite_code">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
      <% end %>
    </div>
  </div>
</div>
