/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.user-not-paying {
    opacity: 0.3;
}

table td.category {
    font-weight:bold;
}

table td.center-align {
  text-align: center;
}

table th.center-align {
  text-align: center;
}

img.thumb-small {
  height: 50px;
}

.v-middle {
  vertical-align: middle !important;
}
