<div style="padding-bottom: 50px;" class="ibox-title">
  <div class="m-r-mdd form-group btn-group m-b-none pull-right" data-toggle="buttons">
      <label class="btn btn-default split-method split-method-active active" id="split-method-equal">
        <input type="radio" value="equal" />
        =
      </label>
      <label class="btn btn-default split-method split-method-inactive" id="split-method-dollars">
        <input type="radio" value="dollars" />
        $
      </label>
      <label class="btn btn-default split-method split-method-inactive" id="split-method-percent">
        <input type="radio" value="percent" />
        %
      </label>
      <label class="btn btn-default split-method split-method-inactive" id="split-method-unit">
        <input type="radio" value="unit" />
        <i class="fa fa-th"></i>
      </label>
    </div>
  <h5 style="padding-bottom: 15px;">Charge calculator</h5>
</div>