<!-- app/views/expenses/new.html.erb -->

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  <h4>New Expense</h4>
  <%= form_tag expenses_path, :id => "expense_form" do %>
    <%= render "expense_form" %>
  <% end %>
  </div>
</div>