<!-- app/views/expenses/new.html.erb -->

<h4>New Expense</h4>


<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <%= form_tag expenses_path, :id => "expense_form" do %>
        <div class="col-md-4">
          <%= render "expense_form" %>
        </div>
        <div class="col-md-8">
          <%= render "charge_form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>







